.prize_form {
  display: block;
}

.prize_form_title {
  color: #b7b7b7;
  font-size: 16px;
  margin-bottom: 15px;
}

.form_line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form_label {
  display: block;
  width: 100%;
  color: #323237;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.country_dummy {
  display: block;
  width: 100%;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f1f3f3;
}

.prize_form_close_btn {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 92;
  display: none;
}

.prize_form_close_btn_img {
  width: 100%;
  height: 100%;
}

.loghtbox_prize_form .content {
  padding-top: 60px;
}

.prize_detail1 {
  display: block;
  font-size: 14px;
  color: #323237;
  line-height: 1.5;
}

.prize_detail2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #323237;
  line-height: 1.5;
}

.prize_detail3 {
  display: block;
  font-size: 12px;
  color: #737d82;
  line-height: 1.5;
}

@media (min-width: 640px) {
  .prize_form_title {
    font-size: 18px;
  }

  .form_label {
    font-size: 16px;
  }

  .country_dummy {
    font-size: 16px;
  }

  .loghtbox_prize_form .content {
    padding-top: 80px;
  }

  .prize_detail1 {
    font-size: 16px;
  }
  
  .prize_detail2 {
    font-size: 18px;
  }
  
  .prize_detail3 {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .loghtbox_prize_form .light_title {
    font-size: 26px;
  }

  .loghtbox_prize_form .content {
    padding-top: 90px;
    max-width: 700px;
    margin: 0 auto;
  }

  .prize_form_close_btn {
    width: 40px;
    height: 40px;
  }

  .prize_detail1 {
    font-size: 18px;
  }
  
  .prize_detail3 {
    font-size: 14px;
  }
}

@media (min-width: 991px) {
  .prize_form_title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .form_label {
    font-size: 18px;
  }

  .country_dummy {
    font-size: 18px;
  }

  .loghtbox_prize_form .light_title {
    font-size: 36px;
  }
}