.no_reslut_link {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  word-break: break-all;
}

.login_form .form_input {
  margin-bottom: 15px;
}

.login_form .error_hint {
  bottom: -8px;
}

.license_plate2_error_hint {
  left: calc(50% + 15px);
}

.login_dash {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 4px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(50, 50, 55);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 10;
}

.category_bar {
  max-width: 570px;
  margin: 0px auto 40px;
  padding: 0px 0.75rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.category_link {
  font-family: graphik-semibold, noto-sans-semibold;
  border: 0px;
  padding: 0px 16px;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  color: rgb(50, 50, 55);
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
  outline: none;
  line-height: 1.15;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font: 500 16px Arial;
}

.category_link:focus,
.category_link:hover {
  color: rgb(50, 50, 55);
}

.category_link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(185, 188, 191);
}

.category_link.active::after {
  background: linear-gradient(to right, rgb(0, 105, 210), rgb(0, 215, 255));
}

@media (min-width: 640px) {
  .login_dash {
    top: 18px;
  }
}