
.main_lottery {
  padding-left: 0;
  padding-right: 0;
}

.main_lottery .title {
  margin-bottom: 30px;
  font-size: 20px;
}

.lottery_zone {
  min-width: 320px;
  max-width: 600px;
  min-height: 240px;
  max-height: 450px;
  width: 64vw;
  height: 48vw;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.before_lottery_img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.lottery_animation {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

@media (min-width: 768px) {
  .main_lottery .title {
    font-size: 24px;
  }
}