.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
}

.modal-mask {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #ffffff;
  opacity: 0.5;
}

.modal {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-img-container {
  width: 100%;
  max-width: 350px;
  position: relative;
}

.modal-img-insider {
  width: 100%;
  padding: 15px 30px;
}

.ranking_modal_container {
  background-color: #c22b4a;
}

.modal-img {
  display: block;
  width: 100%;
}

.modal-close {
  display: block;
  width: 30px;
  padding: 0;

  position: absolute;
  right: -30px;
  top: -30px;
  z-index: 991;
}

.btn_modal_close_img {
  width: 100%;
}

.ranking_units {
  width: 100%;
  margin-top: 20px;

  padding-left: 4%;
  padding-right: 8%;
}

.ranking_unit {
  width: 100%;
  display: flex;
  align-items: center;

  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.rank_order_img {
  width: 8.3vw;
  flex: 0 0 8.3vw;
  max-width: 36px;
}

.ranking_content {
  color: #4d4d4d;
  flex: 1 1 auto;
  width: calc(100% - 8.3vw);
  max-width: calc(100% - 36px);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ranking_order,
.ranking_name {
  display: block;
  font-size: 14px;
}

.ranking_modal_text_img {
  display: block;
  width: 88%;
  margin-top: 15px;
  margin-left: 5%;
}

/* RWD Start ==================================== */
@media (min-width:375px) {
  .ranking_order,
  .ranking_name {
    display: block;
      font-size: 16px;
  }

  .ranking_unit {
    margin-bottom: 10px;
  }
}

@media (min-width:480px) {
  .ranking_order,
  .ranking_name {
    display: block;
      font-size: 20px;
  }

  .ranking_unit {
    margin-bottom: 12px;
  }
}

@media (min-width:540px) {
  .ranking_order,
  .ranking_name {
    display: block;
      font-size: 18px;
  }
}

@media (min-width:640px) {
  .modal {
    width: 350px;
  }

  .ranking_content {
    justify-content: center;
  }

  .ranking_order,
  .ranking_name {
    display: block;
      font-size: 20px;
  }

  .ranking_order {
    margin-right: 15px;
  }
}