*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
}

.no-ie-outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.no-ie-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_ie_img {
  display: block;
  width: 80px;
  margin-bottom: 15px;
}

.no_ie_text {
  display: block;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

/* RWD Start ========================================== */
@media (min-width: 768px) {
  .no_ie_img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .no_ie_text {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .no_ie_img {
    width: 128px;
    margin-bottom: 30px;
  }
  
  .no_ie_text {
    font-size: 25px;
  }
}