.main_prize_result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prize_result_paragraph {
  display: block;
  width: 100%;
  color: #323237;
  font-size: 16px;
  line-height: 1.5;
}

.prize_result_notice {
  display: block;
  width: 100%;
  color: #737d82;
  font-size: 12px;
  line-height: 1.5;
}

.title_prize {
  color: #323237;
  font-size: 12px;
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.prize_result_notice_list {
  padding-left: 15px;
  margin: 0;
}

.prize_result_notice_list li {
  list-style-type: decimal;
  color: #737d82;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 640px) {
  .title_prize {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .main_prize_result {
    max-width: 700px;
  }
}

@media (min-width: 640px) {
  .prize_result_paragraph {
    font-size: 18px;
  }

  .prize_result_notice {
    font-size: 14px;
  }

  .prize_result_notice_list li {
    font-size: 14px;
  }
}