.table_container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;
}

.lottery_record_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.lottery_record_table thead tr {
  border-bottom: 1px solid #707070;
}

.lottery_record_table .seperator {
  width: 100%;
  height: 2px;
  background-color: #707070;
}

.lottery_record_table th,
.lottery_record_table td {
  padding: 8px;
  text-align: center;
  font-weight: normal;
  color: #323237;
  font-size: 12px;
}

.lottery_record_table th {
  padding-left: 5px;
  padding-right: 5px;
}

.lottery_record_table .no_records_td {
  font-size: 14px;
  padding: 12px;
}

@media (min-width: 640px) {
  .table_container {
    overflow-x: initial;
    margin-bottom: 45px;
  }
  
  .lottery_record_table {
    width: 100%;
    margin-bottom: 45px;
  }

  .lottery_record_table th,
  .lottery_record_table td {
    padding: 12px;
    text-align: center;
    font-weight: normal;
    color: #323237;
    font-size: 16px;
  }

  .lottery_record_table .no_records_td {
    font-size: 18px;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .lottery_record_table th,
  .lottery_record_table td {
    padding: 15px;
    text-align: center;
    font-weight: normal;
    color: #323237;
    font-size: 18px;
  }
}