.select-order .main {
  padding-bottom: 150px;
}

.select-order .main.main-padding-btm-ctrl {
  /* padding-bottom: 38px; */
}

.select_ctrl {
  position: relative;
  width: 100%;
}

.select_times {
  /*移除箭頭樣式*/appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*改變右邊箭頭樣式*/background: url("../img/icon_down@3x.png") no-repeat 93% center  transparent;
  background-size: 15px 15px;
  background-color: #f1f3f3;
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  color: #323237;
  font-size: 14px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  font-weight: bold;

  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: -1;
}

.select_dummy {
  width: 100%;
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  font-weight: normal;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #f1f3f3;
  z-index: 1;
  color: #323237;
}

.select_dummy_arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}

.select_detail {
  width: 100%;
  background-color: #ffffff;
  color: #323237;
  padding: 15px 15px;
  font-size: 12px;
  margin-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 3px 10px 0 rgba(83, 114, 177, 0.33);
  position: relative;
  z-index: 0;
}

.options {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  max-height: 150px;
  overflow-y: auto;
}

.dummy_option {
  width: 100%;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #ffffff;
  color: #323237;
  font-size: 14px;
}

.dummy_option:hover {
  background-color: #f1f3f3;
}

.select-btn-group {
  margin-top: 15px;
  z-index: 0;
}

.times_list {
  display: block;
  width: 100%;
  padding-left: 20px;
}

.times_list .plus_symbol {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.times_text {
  display: none;
  list-style-type: none;
  width: 100%;
}

.times_text_line {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.times_text_lead {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.times_text_detail {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.select_btn {
  width: 80%;
  margin-bottom: 1rem;
  margin-right: 0;
}

@media (min-width: 480px) {

  .select_times {
    font-size: 16px;
  }

  .select_detail {
    font-size: 14px;
  }

  .times_text_lead {
    /* width: 120px; */
  }
  
  .times_text_detail {
    width: calc(100% - 120px);
  }
}

@media (min-width: 640px) {

  .select_btn {
    width: auto;
    min-width: 160px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .select_times {
    padding: 12px 25px;
    background-position: 97% center;
    font-size: 18px;
  }

  .select_detail {
    margin-top: 45px;
    font-size: 16px;
  }

  .select-btn-group {
    margin-top: 40px;
  }

  .times_text_lead {
    /* width: 145px; */
  }

  .times_text_detail {
    width: calc(100% - 145px);
  }

  .times_list {
    padding-left: 30px;
  }

  .select-order .main {
    padding-bottom: 175px;
  }

  .select_dummy,
  .dummy_option {
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .select_times {
    padding: 15px 25px;
  }
}
